<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aryan Singh Thakur's Portfolio. Aspiring Full-Stack Developer based in Indore, India. Explore my projects and skills.">
    <meta name="keywords" content="Aryan Singh Thakur, Full-Stack Developer, Web Developer, Portfolio, Indore, Computer Science, JavaScript, HTML, CSS">
    <meta name="author" content="Aryan Singh Thakur">
    <title>Aryan's Portfolio</title>
    <link rel="icon" href="/title-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <body>
        <header>
            <div class="header-Wrapper">
                <h1>Aryan's Portfolio</h1>
    
                <nav class="navbar">
                    <ul>
                        <li><a href='/skills'>Skills</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/contact">Contact Me</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    <div class="Mee">
        <div class="img">
            <img src="/Aryan.png" alt="Aryan's Photo">
        </div>
        <h2>Hi, I am Aryan</h2>
        <p>Aspiring Full-Stack Developer</p>
    </div>

    <div class="about">
        <div class="about-wrapper">
            <div class="col">
                <h1>About Me</h1>
                <p class="about-p">
                    Hello! I'm Aryan Singh Thakur, a passionate third-year undergraduate student majoring in Computer Science and Engineering at the Acropolis Institute of Technology and Research in Indore, India.
                    <br><br>
                    I was born and raised in the vibrant city of Indore, Madhya Pradesh. From a young age, I've been captivated by the world of engineering, driven by a natural curiosity and a deep love for problem-solving. 
                    <br><br>
                    When the time came to make a career choice, I enthusiastically embraced the field of Software Engineering. It's a puzzle I've always wanted to solve, and I'm thrilled to be on this journey of continuous learning and growth.
                </p>
            </div>
        </div>
    </div>
  

    <br> <br>
    <div class="socials" id="contact">
        <div class="socials-wrapper">
            <div class="contact-info">
                <h2>Contact Me</h2>
                <p>Email: <a href="mailto:aryansingh102003@gmail.com">aryansingh102003@gmail.com</a></p>
                <p>Location: Indore, MP</p>
            </div>

            <div class="social-icons">
                <a href="https://github.com/aryansingh10" target="_blank"><img src="/github.png" alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/aryansinghthakur/" target="_blank"><img src="/linkedin.png" alt="LinkedIn"></a>
                <a href="https://www.instagram.com/__aryansingh__07/" target="_blank"><img src="/download.jpg" alt="Instagram"></a>
                <a href="https://twitter.com/_aryansingh_07" target="_blank"><img src="/twiiter-2.png" alt="Twitter"></a>
                <a href="https://drive.google.com/file/d/1rbEnoNxQWuf5BlieybGC44e0hj2LQhxL/view?usp=sharing" download="Aryan_Singh_Resume.pdf" class="resume-link">Download Resume</a>
            </div>
        </div>
    </div>
    
</body>

</html>
