<!-- views/projects.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="projects">
        <div class="project-wrapper">
            <h2 id="Project-head">My Projects</h2>
            <ul>
                <li>
                    <a href="https://github.com/aryansingh10/NewsAppByAryan" target="_blank">
                        <div class="project-info">
                            <p class="project-title">News Website</p>
                            <p class="project-description">A web application for displaying the latest news.</p>
                        </div>
                        <img src="/Screenshot (97).png" alt="News Website Screenshot">
                        <div class="overlay">
                            <p>Click to view source code</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/aryansingh10/ScoreKeeper-TT-" target="_blank">
                        <div class="project-info">
                            <p class="project-title">Score Keeper - Table Tennis</p>
                            <p class="project-description">Score Keeper - Table Tennis is a web app for hassle-free score tracking in table tennis matches.</p>
                        </div>
                        <img src="/Screenshot (98).png" alt="Table Tennis Score Keeper Screenshot">
                        <div class="overlay">
                            <p>Click to view source code</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="project-info">
                            <p class="project-title">YelpCamp</p>
                            <p class="project-description">YelpCamp is a full-stack web application project that allows users to discover, review, and share campgrounds.</p>
                        </div>
                        <img src="/6186b17dece9f703e6ea7962_YelpCamp.jpg" alt="YelpCamp Screenshot">
                        <div class="overlay">
                            <p>Will be Out Soon</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Back to Home link -->
    <div align="center" class="back-to-home">
        <a href="/">Back to Home</a>
    </div>
    <br>

    <!-- Socials moved to the bottom -->
    <div class="socials" id="contact">
        <div class="socials-wrapper">
            <div class="contact-info">
                <h2>Contact Me</h2>
                <p>Email: <a href="mailto:aryansingh102003@gmail.com">aryansingh102003@gmail.com</a></p>
                <p>Location: Indore, MP</p>
            </div>

            <div class="social-icons">
                <a href="https://github.com/aryansingh10" target="_blank"><img src="/github.png" alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/aryansinghthakur/" target="_blank"><img src="/linkedin.png" alt="LinkedIn"></a>
                <a href="https://www.instagram.com/__aryansingh__07/" target="_blank"><img src="/download.jpg" alt="Instagram"></a>
                <a href="https://twitter.com/_aryansingh_07" target="_blank"><img src="/twiiter-2.png" alt="Twitter"></a>
                <a href="https://drive.google.com/file/d/1rbEnoNxQWuf5BlieybGC44e0hj2LQhxL/view?usp=sharing" download="Aryan_Singh_Resume.pdf" class="resume-link">Download Resume</a>
            </div>
        </div>
    </div>
    <!-- Written Content for Users -->   

</body>

</html>
